# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Languages Used By Data Scientists
- Libraries Used By Data Scientists
- Tools Used In Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| Rstudio|
| VScode |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Varnika